*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#faf7f2;
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#333;
}

.logo{
    font-weight:bold;
    font-size:22px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    background:#b08968;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
}

.interests{
    padding:50px;
}

.interests h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}